<div class="pricePlans">
    <h1>Price Plans</h1>

    <label>sms 100 <a href="/price_plans/1">view users</a> </label>
    <label>call 100<a href="/price_plans/2">view users</a></label>
    <label>text-me<a href="/price_plans/3">view users</a></label>
</div>