* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1f2833;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="radio"] {
    vertical-align: middle;
    margin-right: 5px;
}

a {
    color: #66fcf1;
}

h1 {
    color: #66fcf1;
    text-align: center;
    font-size: 3rem;
    margin: auto;
}


.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #1f2833;
    border-radius: 4rem;
    box-shadow: 0 0 1rem;
    font-size: 1rem;
    color: #66fcf1;
    letter-spacing: .1rem;
    font-weight: 200;
    transition: .5s ease;

}



.btn:hover {
    box-shadow: none;
}


.functionality input {

    height: 44px;
    margin-left: 5px;
    display: inline-block;
    font-size: x-large;
}

.functionality label {
    display: inline-block;
    font-size: 1.7rem;
    margin-left: 5px;
}

.functionality span {
    display: inline-table;
    font-size: 2rem;
    margin-left: 3px;

}

.regex {
    color: orange;
}

.error {
    color: red;
    background-color: antiquewhite;
}

.greet {
    color: green !important;
    background-color: antiquewhite;

}

.clear {
    color: green;
    background-color: antiquewhite;
}
